a {
    text-decoration: none;
}
body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0;
}
p {
    margin: 2vh;
}
/*Classes*/
.top {
    width: 100%;
    background: -webkit-linear-gradient(#2b2b2b 25%, #121212 90%);
}
.header {
    font-size: 6vh;
    font-family: Georgia, Arial, sans-serif;
    background: -webkit-linear-gradient(#d6d6d6, #554d66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.header:hover {
    background: -webkit-linear-gradient(#554d66, #d6d6d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.home {
    background-color: #1f1f1f;
}
.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
.navbar {
    border: 1px solid #000000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navimg {
    width: 3.2vh;
    height: auto;
    vertical-align: text-top;
}
.navlist {
    float: left;
    border-right: 1px solid #8f8f8f;
}
.navlist:last-child {
    border-right: none;
}
.navlink {
    font-size: 2.9vh;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navlink:hover {
    background-color: #474747;
}
.navlink:active {
    background-color: #111;
}
.navselected {
    background-color: #111;
}
.navselected:hover {
    background-color: #111;
}
/*Blog Classes and IDs*/
#posttitle {
    font-size: 6vh;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#postdate {
    font-size: 1.3vh;
    text-align: center;
    font-style: italic;
    font-family: Arial, sans-serif;
}
.yeard {
    font-size: 3.5vh;
    margin-left: 10px;
}
.monthd {
    font-size: 2.7vh;
    margin-left: 25px;
}
.bloglink {
    text-decoration: underline;
}
.bloglink:hover {
    color: #00318c;
    text-decoration: underline;
}
.bloglink:active {
    color: #001640;
    text-decoration: underline;
}
.bloglisting {
    font-size: 2.3vh;
    margin-left: 35px;
}
.postheader {
    background-color: #171717;
}