/*General*/
a {
    color: #4c95f5;
}
body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0;
}
h2 {
    margin: 1.33vh;
}
h3 {
    margin: 1.45vh;
}
p {
    margin: 2vh;
    font-size: 18px;
}
.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/*Header and Navbar*/
.top {
    width: 100%;
    background: -webkit-linear-gradient(#340441 25%, #140218 90%);
}
.header {
    font-size: 150%;
    font-family: Arial, sans-serif;
    background: -webkit-linear-gradient(#f6f6f6, #c1c1c1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.header:hover {
    background: -webkit-linear-gradient(#c1c1c1, #f6f6f6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.home {
    background-color: #250330;
}
.navbar {
    border: 1px solid #000000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #60007d;
}
.navimg {
    width: auto;
    height: 22px;
    vertical-align: text-top;
}
.navlist {
    float: left;
    border-right: 1px solid #e4e4e4;
}
.navlist:last-child {
    border-right: none;
}
.navlink {
    font-size: 130%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navlink:hover {
    background-color: #911aa3;
}
.navlink:active {
    background-color: #3a0b41;
}
.navselected {
    background-color: #3a0b41;
    border-bottom: 3px solid #b155e3;
}
.navselected:hover {
    background-color: #3a0b41;
}

/*Home Page*/
.project {
    clear: both;
}
.project img {
    float: left;
    position: relative;
    width: 300px;
    height: auto;
    vertical-align: top;
    margin-right: 10px;
}

/*About Page*/
.socialsite {
    width: 8%;
    margin: 10px;
}

/*Blog Classes and IDs*/
#posttitle {
    font-size: 6vh;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
#postdate {
    font-size: 1.3vh;
    text-align: center;
    font-style: italic;
    font-family: Arial, sans-serif;
}
.yeard {
    width: 30px;
    font-size: 3.5vh;
    margin-left: 10px;
}
.monthd {
    width: 30px;
    font-size: 2.7vh;
    margin-left: 25px;
}
.bloglink {
    color: #427ce8;
    text-decoration: underline;
}
.bloglink:hover {
    color: #00318c;
    text-decoration: underline;
}
.bloglink:active {
    color: #001640;
    text-decoration: underline;
}
.bloglisting {
    font-size: 2.3vh;
    margin-left: 35px;
}
.postheader {
    background-color: #340239;
}
.postcontent h2 {
    color: #d1d1d1;
    font-size: 26px;
}
.postcontent h3 {
    color: #d1d1d1;
    font-size: 22px;
}
.postcontent p {
    color: #e8e8e8;
}